{if !$is_pjax}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html lang="{$language}">

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

{/if}

<title>{$title}</title>

<!-- css引入 -->

{block name="backend_css"}

    {include file="common/backend_css" /}

{/block}

{if !$is_pjax}

</head>

<body class="md-skin fixed-nav no-skin-config">

<div id="wrapper">

{/if}

<!-- 左侧 -->

{block name="backend_left"}

    {include file="common/backend_left" /}

{/block}

<!-- 右侧 -->

    <div id="page-wrapper" class="gray-bg">

        <div class="row border-bottom">

            <!--头部导航-->

            {block name="backend_top"}

                {include file="common/backend_top" /}

            {/block}

        </div>

        <!--面包屑-->

  <!--           {block name="backend_crumb"}

                {include file="common/backend_crumb" /}

            {/block} -->

        <div class="animated fadeInRight" id="pjax-container">


                {block name="pjax_container"}{/block}

            

        </div>

        <!-- 底部 -->

        {block name="backend_buttom"}

            {include file="common/backend_buttom" /}

        {/block}

    </div>

{if !$is_pjax}

</div>

{/if}

<!-- js引入 -->

{block name="backend_js"}

    {include file="common/backend_js" /}

{/block}

{if !$is_pjax}

</body>

</html>

{/if}

