{extend name="common/backend_base" /}
{block name="pjax_container"}
{include file="form/list_crumb" /}
<div class="row row_content">
    <form method="POST" action="" onsubmit="return false" class="form-horizontal">
        <div class="col-lg-9">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{:LQ($bread_crumb_title)}</h5>
                    <div class="ibox-tools">
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{:LQ('System Name')}</label>
                            <div class="col-sm-8">
                                <input type="text" name="username" class="form-control"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{:LQ('Name')}</label>
                            <div class="col-sm-8">
                                <input type="text" name="name" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{:LQ('Password')}</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" name="password"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">{:LQ('Email')}</label>
                            <div class="col-sm-8">
                                <input type="email" name="email" class="form-control"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">{:LQ('Phone')}</label>
                            <div class="col-lg-8">
                                <input type="text" name="moblie" class="form-control"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white" type="submit">{:LQ('Cancel')}</button>
                                <button class="btn btn-primary submission" type="submit">{:LQ('Save changes')}</button></div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Custom switch</h5>
                    <div class="ibox-tools">
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{:LQ('Sex')}</label>
                        <div class="col-sm-10">
                            <select class="form-control m-b" name="sex">
                                <option>{:LQ('Boy')}</option>
                                <option>{:LQ('Girl')}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{:LQ('Status')}</label>
                        <div class="col-sm-10">
                            <select class="form-control m-b" name="sex">
                                <option>{:LQ('Normal')}</option>
                                <option>{:LQ('Disable')}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{/block}